.container{
    width: 100%;
}
.row {
    width: 100%;
}

.left {
    float: center;
    width: 100%
}
#jumbotron {
    height: 0px;
    background-image: linear-gradient(to right, rgb(85, 190, 252), white)
}

#jumbotronLetters {
    text-align: center;
    margin-top: -40px;
}

#card1 {
    width:100%;
}

.blue {
    background-color:  rgb(85, 190, 252);
    margin-right: 1px;
    max-width: 100px;
    margin-bottom: 1px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}   

.red {
    background-color: red;
}